table,
tr,
td {
    border: 2px solid black !important;
}

#table {
    width: 60vw;
    margin: 0px;
}

#output {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: #03125e;
    font-weight: bold;
}


body{
    background: linear-gradient(rgb(5 0 36), rgb(50 38 116)), #201f1f;
}

#ani{
    
    margin-left: 145px;
    margin-top: 18px;
    margin-bottom: 0px;
}

.theory{
  margin-top: 84px;
  position: fixed;
  right: 689px;
  left: 86px;
}

#heading {
  position: absolute;
  left: 0.67%;
  right: 94.01%;
  top: -56.04%;
  margin: 50px;
  font-size: 25.8px;
font-weight: 600;
font-family: var(--font-montserrat);
color: var(--color-black);
  line-height: 84px;

  color: #ffffff;
}

#heading a{
  text-decoration: solid;
  color: #ffffff;
}

.header {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 89.31%;

  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}

.nav-items{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 27px;
}

.nav-items a {
  text-decoration:solid;
  color: rgb(255, 255, 255);
  font-family: 'Commissioner';
  font-weight: 200;
}

.nav-items li{
  padding: 10px;
  color: #FFFFFF;
  animation: ease-in-out 4s;
}

.nav-items li :hover{
  padding:5px;
  text-align: center;
  transition: 0.2s;
  background-color: white;
  color: rgb(37, 37, 63);
  border: 2px solid rgb(37, 37, 63);
  cursor: pointer;
  border-radius: 13px;
}

.heading_home{
    position: absolute;
    top: 163px;
    left: 52px;
    color: #0d0c58;
    font-family: inherit;
    font-weight: 900;
    text-shadow: 4px 2px 4px #4a6bdb82;
    font-size: 25px;
}
  
  .map_form_container {
    position: absolute;
  top: 698px;
  left: 0px;
  right: 0px;
  background-color:#ffffff;;
  padding: 2px 19px 2px 19px;
  border-radius: 10px;
  box-shadow: 4px 4px 9px 0px #000000b8;
  }
  
  .simulation{
    padding: 20px;
    font-weight: bold;
    font-size: 50px;
    padding-left: 0px;
    color: #08113f;
  }

  .form{
    padding: 20px;
    padding-left: 19px;
  }

  .form-row_1{
    font-size: 20px;
  }

  .form-row_2{
    font-size: 20px;
    padding: 45px;
    position: absolute;
    top: 78px;
    left: 455px;
  }

  .form_container {
    max-width: 625px;
    margin: 0 auto;
    margin-left: 0;
  }
  
  
  .heading {
    font-size: 36px;
    font-weight: 600;
    color: #aad4ff;
    text-transform: uppercase;
    margin-bottom: -10px;
  }
  
  .heading span {
    color: #ff9e51;
  }
  
  

  .text{
    color: white;
    font-size: 20px;
    font-style: inherit;
    text-shadow: 0 0 black;
  }
  
  .text span{
    color: #ffe678;
    font-weight: bold;
  }
  
  /* Form Styles */
  .string,
  .frame {
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 20px
  }
  
  .string:focus,
  .frame:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
 
  
  .flow_chart{
    position: absolute;
    top: 43px;
    left: 827px;
  }

  .btn{
    position: absolute;
    margin-left: 257px;
  }
  
  button:hover {
    text-align: center;
    transition: 0.5s;
    background-color: white;
    color: rgb(37, 37, 63);
    border: 2px solid rgb(37, 37, 63);
    cursor: pointer;
    border-radius: 13px;
  }
  
  button{
    margin-left: 34px;
    border-radius: 13px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #03125e;
    color: white;
    padding: 12px 19px;
    transition: all 0.4s;
    text-decoration: none;
  }
  
 
  
  /* Table Styles */
  #table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  #table th {
    background-color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    color:#0d0c58
  }  